---
import Layout from '../layouts/Layout.astro';
import axios from "axios";

const responseProducts = await axios.get("http://localhost:1337/api/productos?populate[imagen][fields][0]=url")
const products = responseProducts.data.data

---

<Layout title="Welcome to Astro.">
	<main>
		<nav>
			<ul class="mx-auto w-fit flex items-center gap-6 font-bold">
				<li>
					<a href="#">
						Whatsapp
					</a>
				</li>
				<li>
					<a href="#">
						Catalogo
					</a>
				</li>
				<img src="/tecno-geek-logo.jpg" alt="tecno-geek-logo" class="w-32">
				<li>
					<a href="#">
						Novedades
					</a>
				</li>
				<li>
					<a href="#">
						Quien soy?
					</a>
				</li>
			</ul>
		</nav>
	</main>
	<main>
		<div>
			<ul class="flex gap-4">
				{
					products.map(product => (
						<li class="w-40 h-56 shadow-lg rounded-xl overflow-hidden">
							<a href="" class="flex flex-col h-full">
								<img src={"http://localhost:1337"+product.imagen.url} alt="" class="h-36 w-full rounded-xl object-cover">
								<div class="flex justify-between px-2 flex-1 items-center text-sm ">
									<p class="font-bold">{product.nombre}</p>
									<span class="text-gray-600">${product.precio}</span>
								</div>
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		/* padding: 1rem; */
		width: 800px;
		max-width: calc(100% - 2rem);
		color: black;
		line-height: 1.6;
	}
</style>
