---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<nav>
			<ul class="mx-auto w-fit flex items-center gap-6 font-bold">
				<li>
					<a href="#">
						Whatsapp
					</a>
				</li>
				<li>
					<a href="#">
						Catalogo
					</a>
				</li>
				<img src="/tecno-geek-logo.jpg" alt="tecno-geek-logo" class="w-32">
				<li>
					<a href="#">
						Novedades
					</a>
				</li>
				<li>
					<a href="#">
						Quien soy?
					</a>
				</li>
			</ul>
		</nav>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		/* padding: 1rem; */
		width: 800px;
		max-width: calc(100% - 2rem);
		color: black;
		line-height: 1.6;
	}
</style>
